appdirs==1.4.4
asgiref==3.2.7
cachetools==4.1.0
certifi==2020.4.5.2
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
distlib==0.3.0
Django==3.0.7
filelock==3.0.12
funcy==1.14
google-api-core==1.19.1
google-api-python-client==1.9.1
google-auth==1.16.1
google-auth-httplib2==0.0.3
googleapis-common-protos==1.52.0
httplib2==0.18.1
idna==2.9
jwt==1.0.0
langdetect==1.0.8
mod-wsgi==4.7.1
oauth2client==4.1.3
Pillow==7.1.2
protobuf==3.12.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDrive==1.3.1
PyJWT==1.7.1
pylibscrypt==1.8.0
pytz==2020.1
PyYAML==5.3.1
requests==2.23.0
rsa==4.0
scrypt==0.8.15
six==1.15.0
sqlparse==0.3.1
toolz==0.10.0
uritemplate==3.0.1
urllib3==1.25.9
virtualenv==20.0.21
virtualenvwrapper-win==1.2.6
w3lib==1.22.0
